$centerWidth: 1000px;
$largerColWidth: 600px;
$smallerColWidth: 400px;
$mainBlue: #09f;
$defaultFontSize: 16px;

* {
  // font-size: $defaultFontSize;
}
.center {
  max-width: $centerWidth;
  margin: 0 auto;
}
.col-l {
  max-width: 600px;
  min-width: 300px;
}
.col-s {
  max-width: 400px;
  min-width: 300px;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
